<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>
<body>
  <header>
    <h1>Medical Image Analysis and Diagnosis</h1>
    <nav class="nav_part">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
       <a href="/contact">Contact Us</a>
      <a href="{{ url_for('chatbot') }}" class="button">Go to Chatbot</a>
      <a href="/ctscan">CT Scan</a>
    </nav>
  </header>
  <div class="container">
    <section id="contact-us">
      <h2>Contact Us</h2>
      <div class="contact-info">
        <div class="contact-card">
          <img src="../static/images/indra.jpg" alt="K. Indra Veera Babu">
          <div>
            <p><strong>Name:</strong> K. Indra Veera Babu</p>
            <p><strong>Roll No:</strong> 21131A0573</p>
            <p><strong>Email:</strong> <a href="mailto:21131a0573@gvpce.ac.in">21131a0573@gvpce.ac.in</a></p>
            <p><strong>Mobile:</strong> 7981205052</p>
          </div>
        </div>
          <div class="contact-card">
            <img src="../static/images/manoj.jpg" alt="M. Manoj Kumar">
           <div>
            <p><strong>Name:</strong> M. Manoj Kumar</p>
             <p><strong>Roll No:</strong> 21131A05C3</p>
            <p><strong>Email:</strong> <a href="mailto:21131a05c3@gvpce.ac.in">21131a05c3@gvpce.ac.in</a></p>
           <p><strong>Mobile:</strong> 8096611739</p>
          </div>
        </div>
          <div class="contact-card">
           <img src="../static/images/ganesh.png" alt="P.M.S.Ch.Ganesh">
          <div>
           <p><strong>Name:</strong> P.M.S.Ch.Ganesh</p>
            <p><strong>Roll No:</strong> 21131A05C2</p>
           <p><strong>Email:</strong> <a href="mailto:21131a05c2@gvpce.ac.in">21131a05c2@gvpce.ac.in</a></p>
          <p><strong>Mobile:</strong> 9966913478</p>
          </div>
         </div>
          <div class="contact-card">
            <img src="../static/images/mahesh.jpg" alt="M. Mahesh Nayak">
          <div>
            <p><strong>Name:</strong> M. Mahesh Nayak</p>
           <p><strong>Roll No:</strong> 21131A05C5</p>
            <p><strong>Email:</strong> <a href="mailto:21131a05c5@gvpce.ac.in">21131a05c5@gvpce.ac.in</a></p>
             <p><strong>Mobile:</strong> 8367428455</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer>
    <p>© 2024 Medical Image Analysis and Diagnosis. All rights reserved.</p>
  </footer>
</body>
</html>