<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Diagnostic AI Solutions</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<header>
    <nav class="nav_part">
        <a href="{{ url_for('home') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Signup</a>
        {% endif %}
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('contact') }}">Contact Us</a>
    </nav>
</header>

<main>
    <div class="home-page">
        <h1>Smart Diagnostic Imaging AI Solutions</h1>
        <p>AI is transforming medical image analysis, enabling faster and more accurate diagnoses. Our cutting-edge AI models detect and classify disease markers to assist healthcare specialists.</p>
        <section class="home-action-btn">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('chatbot') }}" class="button">Go to Chatbot</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="button">Login Here</a>
            {% endif %}
        </section>
    </div>
</main>

<script src="../static/script.js"></script>
</body>
</html>
