<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <header>
    <nav class="nav_part">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('about') }}">About Us</a>
      <a href="{{ url_for('contact') }}">Contact Us</a>

     <!-- You may not need login / logout button on login page, please remove if required -->
       <!-- {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
          <a  href="{{ url_for('login') }}">Login</a>
        <a  href="{{ url_for('register') }}">Signup</a>
     {% endif %} -->
    </nav>
  </header>

  <main>
       <div class="transparent-form">

      <h2>Login</h2>

       {% with messages = get_flashed_messages() %}
        {% if messages %}
      <ul>
           {% for message in messages %}

          <li>{{ message }}</li>
     {% endfor %}
      </ul>
     {% endif %}

   {% endwith %}

<form method="POST" >
  <div class="form-row">
         <label for="email">Email:</label>

    <input type="text" id="email" name="email" required>
</div>

<div class="form-row">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
   </div>

 <button type="submit" class="log-button">Login</button>


 <p class="donthaveacc">
  Don't have an account? 
  <button class="reg-button">
    <a href="{{ url_for('register') }}" class="button">Register</a>
  </button>
</p>


     </form>

      </div>
  </main>

  <footer>
    <p>© 2024 Medical AI. All rights reserved. |
        <a href="https://github.com/yourgithub" target="_blank">Github</a>
         <a href="https://linkedin.com/in/yourlinkedin" target="_blank">LinkedIn</a></p>
</footer>
</body>
</html>